@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

header{
    background-color: #313131;
    color: white;
    padding: 20px;
    text-align: left;
    font-size: larger;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    position: fixed;
    @media (max-width: 768px) {
      padding: 10px;
      font-size: medium;
    }
    
 
}

.bg-image{
    background-image: url('footer.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}

.about{
    padding: 100px;
    margin-left: 500px;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    text-align: left justify;
    color: rgb(152, 134, 134);
    @media (max-width: 768px) {
      padding: 50px;
      margin-left: 20px;
      font-size: medium;
    }
    
  
    
}

.download-button{
    background-color: #313131;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: larger;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    
    
}

footer{
    background-color: #313131;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: larger;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    
}

